@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.loginForm {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.loginPage input {
  display: flex;
  margin-bottom: 5px;
  padding: 4px;
  cursor: pointer;
  border: none;
  border-radius: 7px;
}

.inputUser,
.inputPw {
  border-color: #b0f5ba;
  box-shadow: 2px 2px 8px 1px #b0f5ba;
  color: #84b0fc;
  outline: none;
  font-size: 16px;
  border-radius: 5px;
  padding-left: 15px;
}

.loginBtn {
  background-color: #c4d7f8;
  border-radius: 8px;
  width: 100%;
  cursor: pointer;
  padding: 15px 30px;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 1px;
  border: none;
}

.loginBtn:hover {
  background-image: linear-gradient(
    90deg,
    #9addf1 0%,
    #ebda96 50%,
    #f09aab 75%,
    #9ddcf0 100%
  );
  animation: slidernbw 7s linear infinite;
  color: #000;
}

@keyframes slidernbw {
  to {
    background-position: 20vw;
  }
}

body {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
  gap: 15px;
  background: rgb(0, 0, 0);
  background: linear-gradient(90deg, #ccfad3 0%, #c4d7f8 100%);
  font-family: "Roboto", serif;
}

.loginPage {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background: rgb(0, 0, 0);
  background: linear-gradient(90deg, #ccfad3 0%, #c4d7f8 100%);
  font-family: "Roboto", serif;
}

.wrapperProduct {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 5px;
  border-radius: 8px;
  width: 40%;
  height: 100px;
  margin-top: 50px;
  background-color: #ccfad3;
  font-family: "Roboto", serif;
}

.wrapperProduct .btnDelete {
  background: none;
  border: none;
}

@media only screen and (max-width: 768px) {
  .loginPage input {
    display: flex;
    margin-bottom: 5px;
    border: none;
    border-radius: 7px;
    padding: 4px;
  }

  body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 18px;
  }

  .loginPage {
    font-family: "Roboto", serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100vh;
    height: 100vh;
    background: rgb(0, 0, 0);
    background: linear-gradient(90deg, #ccfad3 0%, #c4d7f8 100%);
  }

  .wrapperProduct {
    background-color: #ccfad3;
    padding: 5px;
    border-radius: 8px;
    width: 50%;
    height: 100px;
    gap: 5px;
    margin-top: 20px;
    font-family: "Roboto", serif;
  }
}
